# The username of the Zaptec owner account.
USERNAME=user@domain.com

# The ID of the Zaptec installation.
INSTALLATION_ID=example-installation-id

# The start datetime of the usage interval.
USAGE_INTERVAL_START=2024-01-01

# The end datetime of the usage interval.
USAGE_INTERVAL_END=2024-07-01

# The number of charging stations that were ative after the end of the usage
# interval.
NUM_CHARGING_STATIONS=3

# The name of the file containing the Zaptec API chargehistory data in JSON
# format.
CHARGEHISTORY_FILE_NAME=zaptec-2024H1-response.json

# The electricity high rate interval during the week.
WEEKDAY_HIGH_RATE_INTERVAL='07:00 20:00'

# The name of the output Excel file.
EXCEL_FILE_NAME='Ladestationen Verbrauch 2024H1.xlsx'
